/* Project specific styles */
div#main-content-container {
	min-height: 480px;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top27 { margin-top:25px; }
.top30 { margin-top:30px; }

table.compact-data-table {
    //font-family: verdana,arial,sans-serif;
    font-size: .83em; //11px;    
}
/* table.compact-data-table th {
    font-size: 1em; //10px;
}
table.compact-data-table td {
    font-size: 1em; //9px;
}

 */